<br>
<div class="page-background">
<div class="container">
<div class="col-sm-7 offset-sm-2">
<div class="newerclass">
<div class="container2 bg-white p-5">
  <h3 class="text-center" style="padding-top: 30px;">+ Create new content</h3>
  <%= simple_form_for [@board, @content] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :link %>
  <%= f.input :file_upload, as: :file %>
  <%= f.input :tags, collection: @tags, input_html: { id: "share_select", multiple: true } %>
  <%= f.submit "Create content", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
</div>
</div>
</div>
