<p><%= @board.name %></p>
<p><%= @board.description %></p>
<%= link_to "Edit board", edit_board_path(@board) %>
<%= link_to "Add content", new_board_content_path(@board.id) %>
<% @board.contents.each do |content| %>
<p><%= link_to "Show content", board_content_path(content.id) %></p>
<% end %>
