<div class="page-background">
  <!-- header -->
  <div class="board-header">
    <div class ="container head-text">
      <H3><%= @board.name %></H3>
      <p><%= @board.description %></p>
      <p>
          <%= link_to "Add Content", new_board_content_path(@board.id), class: "btn btn-primary" %>
          <%= link_to 'Edit Board', edit_board_path(@board), class: "btn btn-outline-primary" %>
         <a href = "#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-primary">
            Share
          </a>
      </p>
    </div>
  </div>

  <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Share with people and groups</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <p class="line_color">!Thanoja</p>
                 <p class="text-color"><%= link_to "Thomas Messett", class: "link_style" %></p>
                 <p><%= link_to "Dan Menza" %></p>
                 <p><%= link_to "Nathan" %></p>
                 <p><%= link_to "Thanoja" %></p>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Share</button>
                </div>
              </div>
            </div>
          </div>


  <!-- body -->
  <div class="container board-list">
    <div class="row">
      <% @contents.each do |content| %>
      <div class="col-sm-4 d-flex align-items-stretch">
        <div class="flex-fill content-card card">
          <div class="board-image">
            <div class="delete">
            <a>x</a>
          </div>
            <div class="circle-overlay">
              <% if content.link? %>
                <i class="fas fa-link"></i>
              <% else %>
                <i class="fas fa-info"></i>
              <% end %>
            </div>
          </div>
        <div class="card-body">
          <h5 class="card-title"><%=content.name %></h5>
          <p classs="card-text"><%=content.description %></p>
          <% if content.file_upload.attachment != nil %>
            <%= link_to "Show content", content.file_upload.service_url, target: :_blank, class: "btn btn-outline-primary"%>
          <% else %>
            <%= link_to "Show content", content.link, target: :_blank, class: "btn btn-outline-primary" %>
          <% end %>
          <a><%= link_to "Edit content", edit_content_path(content) %></a>
        </div>
        <div class="card-footer">
            <% content.tags.each do |tag| %>
            <div class="btn btn-tag">
              <span class="tag-display"> <%= link_to board_path(search: tag.name, searchtype: "tag") do %> <%= tag.name %> <%end%></span>
            </div>
            <% end %>
            <span class="tag-display" style="margin-left: 10px;"> <%= link_to "Add tag", new_tag_path %></span>
          </div>
        </div>
      </div>
      <% end %>
      <div class=" col-sm-4 d-flex align-items-stretch">
        <div class="content-add-card content-card flex-fill">
          <%= link_to new_board_content_path(@board.id) do %>
          <div class="new-board" style="height: 100%; ">
            <p id="add-content">+<span style="font-size: 16px;">Add New Content To This Board</span></p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

