<div class="container board-list">
  <p><%= @board.name %></p>
  <p><%= @board.description %></p>
  <%= link_to "Edit board", edit_board_path(@board) %>
  <%= link_to "Add content", new_board_content_path(@board.id) %>
          <a href = "#" data-toggle="modal" data-target="#exampleModalCenter">
            Share
          </a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Share with people and groups</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <p class="line_color">!Thanoja</p>
                 <p class="text-color"><%= link_to "Thomas Messett", class: "link_style" %></p>
                 <p><%= link_to "Dan Menza" %></p>
                 <p><%= link_to "Nathan" %></p>
                 <p><%= link_to "Thanoja" %></p>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Share</button>
                </div>
              </div>
            </div>
<% if params[:search].present? %>
  <% @contents.each do |content| %>
  <p><%=content.content %>
  <p><%= link_to "Show content", board_content_path(@board.id, content.id) %></p>
  <% end %>
<% else %>
  <% @contents.each do |content| %>
  <p><%=content.name %>
  <p><%= link_to "Show content", board_content_path(@board.id, content.id) %></p>
  <% end %>
<% end %>
</div>

