<!DOCTYPE html>
<html>
  <head>
    <title>Pintag, Never lose an important link again</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Knowledge is power, Pintag keeps important knowledge at your fingertips helping you and your team to achieve more.">
    <meta robots="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pintag">
    <meta property="og:description" content="Knowledge is power, Pintag keeps important knowledge at your fingertips helping you and your team to achieve more.">
    <meta property="og:image" content="<%= image_url('postitsocial.png') %>">
    <meta property="twitter:title" content="Pintag">
    <meta property="twitter:description" content="Knowledge is power, Pintag keeps important knowledge at your fingertips helping you and your team to achieve more.">
    <meta property="twitter:image" content="<%= image_url('postitsocial.png') %>">
    <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon2.png') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield (:login_stylesheet) %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
      <%= render 'shared/flashes' %>
      <% if request.path == '/' %>
        <%= render 'shared/navbar' %>
      <% else %>
        <%= render 'shared/navbartwo' %>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
  </body>
</html>
