<!DOCTYPE html>
<html>
  <head>
    <title>Pintag, Never lose an important link again</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Knowledge is power, Pintag keeps important knowledge at your fingertips helping you and your team to achieve more.">
    <meta robots="index, follow">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pintag">
    <meta property="og:description" content="Knowledge is power, Pintag keeps important knowledge at your fingertips helping you and your team to achieve more.">
    <meta property="og:image" content="<%= image_url('postitsocial.png') %>">
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="twitter:title" content="Pintag">
    <meta property="twitter:description" content="Knowledge is power, Pintag keeps important knowledge at your fingertips helping you and your team to achieve more.">
    <meta property="twitter:image" content="<%= image_url('postitsocial.png') %>">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield (:login_stylesheet) %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
      <%= render 'shared/flashes' %>
      <% if request.path == '/' %>
        <%= render 'shared/navbar' %>
      <% else %>
        <%= render 'shared/navbartwo' %>
      <% end %>
      <div class="content">
        <%= yield %>
      <!-- Start of Credits -->
    <div id="titles">
        <div id="credits">
            <div id="the-end">Thank you, you have been watching:</div>
            <br >
            <h1>Cast</h1>
            <dl>
                <dt>As a 21st century Don Draper</dt>
                <dd>Tom Messett</dd>
            </dl>
            <h1>With support from</h1>
            <dl>
                <dt>The Chrome Extension Guy:</dt>
                <dd>Daniel Menza</dd>
                <dt>Javascript Queen</dt>
                <dd>Thanoja Thangaraja</dd>
                <dt>Simple form Guru</dt>
                <dd>Nathan Ipale</dd>
                <dt>Slack API guy</dt>
                <dd>Tom Messett</dd>
            </dl>

            <div class="clearfix"></div>
            <h1>Special Thanks</h1>
            <br>
            <p>Alex Haumer, Ben Fanning, Piotr Damer and all the TAs!
            </p>

            <div class="clearfix"></div>
            <h1>Developed using</h1>
            <br>
            <p>
              Mostly Gems, stack overflow, copy + paste and the TAs.
            </p>

            <div class="clearfix"></div>
            <br>
            <br>
            <p>This is a work of fiction. Javascript, Html, CSS and Ruby are products of the author's imagination. Any resemblance to an actual products, living or dead, is entirely coincidental.</p>

        </div>
        <div class="clearfix"></div>
    </div>
      </div>
      <%= render 'shared/footer' %>

  </body>
</html>
